---
 const personalImageAlt = "Carlos Ruiz"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      ¡Descubre el Futuro de la Tecnología con un Maestro en Ciencias Computacionales! <strong
        >liderando equipos de desarrollo en multinacionales</strong
      >.
    </p>

    <p>
      Soy un apasionado en las Ciencias Computacionales con un enfoque sólido en áreas de vanguardia como la ciencia de datos, el aprendizaje automático y el cómputo en la nube. Mi misión es impulsar la innovación y las nuevas tecnologías, brindando soluciones que revolucionen el mundo digital.
    </p>

    <p>
      Si estás buscando un profesional con aptitudes concretas en el campo de las ciencias computacionales, ¡estoy listo para enfrentar nuevos desafíos y contribuir al éxito de tu equipo! Juntos, podemos crear soluciones innovadoras que marquen la diferencia en el mundo de la tecnología.
    </p>
  </div>

  <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%">

</article>
