---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Agosto 2021 - Actual",
    title: "Investigador",
    company: " Centro Nacional de Investigación y Desarrollo Tecnológico",
    description:
      "Actividades: Análisis de datos, limpieza de datos, minería de datos, implementación de modelos de aprendizaje automático. Estas actividades son cruciales para convertir datos brutos en información valiosa, eliminando inexactitudes y preparando el terreno para descubrir patrones y tendencias ocultos. Implemento modelos de aprendizaje automático para automatizar la toma de decisiones y optimizar procesos.",
    link: "https://blog.es.logicalis.com/analytics/data-cleansing-y-sus-fases-contra-los-problemas-de-calidad-de-datos",
  },
  {
    date: "Junio 2019 - Enero 2020",
    title: "Becario",
    company: " Instituto Nacional de Electricidad y Energías Limpias",
    description:
      "El desarrollo de software, implementación de bases de datos y gestión de consultas SQL, creación de funciones en entornos virtuales y manejo de API's. Estas tareas son esenciales para construir aplicaciones web eficientes, manejar datos de forma efectiva y facilitar la integración con otros sistemas.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
