

<header class="flex justify-between items-center py-3">
  <img class="rounded-full w-12 h-12" src="https://www.auronova.in/images/services/data-science-overview.png" alt="Google Logo" />
  <h1>Welcome to my Portfolio</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
